<table>
	<tr>
		<td><%= @@data.author %></td>
		<td><%= @@data.publisher %></td>
		<td><%= @@data.author %></td>
		<td><%= @@data.published_at %></td>
		<td><%= @@data.pages %></td>
		<td><%= @@data.id %></td>
	</tr>
</table>